.adminHeaderContainer {
	max-width: 500px;
	width: 100%;
	padding: 20px 10px 16px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--color-black);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.adminHeaderBackContainer {
	cursor: pointer;
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.adminHeaderBackLine {
	width: 13px;
	margin-top: 9px;
	margin-left: -2px;
	height: 1px;
	background-color: var(--color-black);
	transform: rotate(45deg);
}

.adminHeaderBackLine:nth-child(2) {
	transform: rotate(-45deg);
	margin-top: -9.5px;
}

.adminHeaderMenuContainer {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.adminHeaderMenuDots {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 14px;
}

.adminHeaderMenuDots span {
	width: 3px;
	height: 3px;
	background-color: var(--color-black);
	border-radius: 50%;
}

.adminHeaderMenu {
	position: absolute;
	min-width: 190px;
	top: 35px;
	right: 0;
	background: var(--color-grayLight);
	border: 1px solid var(--color-gray);
	border-radius: 6px;
	box-shadow: 0 2px 8px var(--color-shadow);
	padding: 4px 0;
	z-index: 10;
}

.adminHeaderMenu button {
	background: none;
	border: none;
	padding: 16px;
	text-align: left;
	width: 100%;
	font-size: 1rem;
	color: var(--color-black);
	cursor: pointer;
}

.adminHeaderEmpty {
	width: 30px;
	height: 30px;
}
