.productInfoName {
	font-size: 2rem;
	color: var(--color-black);
	margin: 0.5rem 0 2rem;
	text-align: center;
}

.productInfoDescription {
	font-size: 1.2rem;
	color: var(--color-black);
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.productInfoPrice {
	font-size: 1.5rem;
	color: var(--color-black);
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.productInfoBuyContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	gap: 5rem;
}

.productInfoQuantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.productInfoQuantity label {
	font-size: 1rem;
	color: var(--color-black);
	font-weight: 300;
}

.productInfoQuantity input {
	width: 45px;
	padding: 0.4rem;
	font-size: 1.1rem;
	border: 1px solid var(--color-black);
	background-color: var(--color-white);
	margin: 0 0.5rem;
	align-items: center;
	text-align: center;
	font-family: "KyivTypeSerif", serif;
	font-weight: 300;
	border-radius: 0;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.productInfoQuantitySymbol {
	font-size: 1.2rem;
	color: var(--color-black);
	padding: 1rem;
	cursor: pointer;
	font-weight: 300;
	transition: opacity 0.3s ease;
}

.productInfoQuantitySymbol:hover {
	opacity: 0.7;
}

.productInfoQuantity input::-webkit-outer-spin-button,
.productInfoQuantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.productInfoQuantity input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.productInfoIngredients {
	font-size: 1rem;
	color: var(--color-darkGray);
	margin-bottom: 3rem;
	text-align: center;
	font-weight: 300;
}

.productInfoAdditional {
	font-size: 1rem;
	color: var(--color-darkGray);
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 1212px) {
	.productInfoName {
		font-size: 1.8rem;
	}
	.productInfoDescription {
		font-size: 1.2rem;
	}
	.productInfoPrice {
		font-size: 1.4rem;
		margin: 0 0 3rem;
	}
}

@media (max-width: 1100px) {
	.productInfoName {
		font-size: 1.6rem;
	}
}

@media (max-width: 990px) {
	.productInfoName {
		font-size: 1.5rem;
		margin: 0.5rem 0 1.8rem;
	}
	.productInfoDescription {
		font-size: 1rem;
	}
	.productInfoPrice {
		font-size: 1.2rem;
		margin: 0 0 2.9rem;
	}
	.productInfoBuyContainer {
		margin: 0 0 3rem;
		gap: 4rem;
	}
	.productInfoIngredients {
		font-size: 0.9rem;
		margin: 0 0 2.8rem;
	}
	.productInfoAdditional {
		font-size: 0.9rem;
		margin: 0 0 2rem;
	}
}

@media (max-width: 874px) {
	.productInfoName {
		font-size: 1.5rem;
		margin: 0.5rem 0 1.8rem;
	}
	.productInfoDescription {
		font-size: 1rem;
		margin: 0 0 2.4rem;
	}
	.productInfoPrice {
		font-size: 1.1rem;
		margin: 0 0 1rem;
	}
	.productInfoBuyContainer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 2.4rem;
		gap: 1rem;
	}
	.productInfoIngredients,
	.productInfoAdditional {
		font-size: 0.8rem;
		margin: 0 0 2rem;
	}
}

@media (max-width: 700px) {
	.productInfoPrice {
		margin: 0 0 1.4rem;
	}
	.productInfoBuyContainer {
		margin: 0 0 2.2rem;
		gap: 1.4rem;
	}
}
