.productInfoName {
	font-size: clamp(1.4rem, 1vw + 1.2rem, 2rem);
	color: var(--color-black);
	margin: 0.5rem 0 2rem;
	text-align: center;
}

.productInfoDescription {
	font-size: clamp(1rem, 0.6vw + 0.9rem, 1.2rem);
	color: var(--color-black);
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.productInfoPrice {
	font-size: clamp(1.1rem, 0.8vw + 1rem, 1.5rem);
	color: var(--color-black);
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.productInfoBuyContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	gap: clamp(1rem, 4vw, 5rem);
}

.productInfoQuantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.productInfoQuantity label {
	font-size: clamp(0.9rem, 0.4vw + 0.7rem, 1rem);
	color: var(--color-black);
	font-weight: 300;
}

.productInfoQuantity input {
	width: 45px;
	padding: 0.4rem;
	font-size: clamp(1rem, 0.5vw + 0.9rem, 1.1rem);
	border: 1px solid var(--color-black);
	background-color: var(--color-white);
	margin: 0 0.5rem;
	align-items: center;
	text-align: center;
	font-family: "KyivTypeSerif", serif;
	font-weight: 300;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.productInfoQuantitySymbol {
	font-size: clamp(1rem, 0.4vw + 0.9rem, 1.2rem);
	color: var(--color-black);
	padding: 1rem;
	cursor: pointer;
	font-weight: 300;
	transition: opacity 0.3s ease;
}

.productInfoQuantitySymbol:hover {
	opacity: 0.7;
}

.productInfoQuantity input::-webkit-outer-spin-button,
.productInfoQuantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.productInfoQuantity input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.productInfoIngredients {
	font-size: clamp(0.8rem, 0.3vw + 0.7rem, 1rem);
	color: var(--color-darkGray);
	margin-bottom: 3rem;
	text-align: center;
	font-weight: 300;
}

.productInfoAdditional {
	font-size: clamp(0.8rem, 0.3vw + 0.7rem, 1rem);
	color: var(--color-darkGray);
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 874px) {
	.productInfoBuyContainer {
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 2.4rem;
	}
}
