.statusDropdownContainer {
	width: 140px;
}

.statusDropdownButton {
	display: flex;
	align-items: center;
	padding: 8px;
	width: 100%;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--color-white);
	color: var(--color-white);
	font-family: "Montserrat", sans-serif;
	font-size: 0.8rem;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'><path stroke='%23ffffff' stroke-width='1.5' fill='none' d='M1.5 1.5L6 6L10.5 1.5'/></svg>");
	background-repeat: no-repeat;
	background-position: right 0.6rem center;
	background-size: 12px 8px;
	position: relative;
}

.statusDropdownCircle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
}

.statusDropdownList {
	border: 1px solid var(--color-white);
	background-color: #252525;
	list-style: none;
	z-index: 10;
	color: var(--color-white);
	font-family: "Montserrat", sans-serif;
	font-size: 0.9rem;
	position: absolute;
	width: 140px;
	box-sizing: border-box;
}

.statusDropdownItem {
	display: flex;
	align-items: center;
	padding: 8px;
	cursor: pointer;
}

.statusDropdownItem:hover {
	background-color: #373737;
}
