.buttonContainer {
	padding: 0.7rem 1rem;
	cursor: pointer;
	border: 1px solid var(--color-black);
	background-color: transparent;
	transition: opacity 0.3s ease;
}

.buttonContainer:hover {
	opacity: 0.7;
}

.buttonContainer:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}

.buttonText {
	font-size: 1rem;
	color: var(--color-black);
	font-family: "KyivTypeSerif", serif;
}
