.productCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
	max-width: 258px;
	position: relative;
}

.productCardSoldOutContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 80px;
	background-color: #4a3434;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 50%;
	z-index: 1;
}

.productCardSoldOutText {
	color: #fff;
	font-size: 14px;
	transform: rotate(20deg);
}

.productCardImageWrapper {
	width: 100%;
	aspect-ratio: 1.5357;
	position: relative;
	margin-bottom: 1rem;
}

.productCardImageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.productCardContainer img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1.5357;
	margin-bottom: 1rem;
}

.productCardPrice {
	font-size: 12px;
	color: #000;
	margin-bottom: 1rem;
}

.productCardName {
	font-size: 18px;
	color: #000;
	line-height: 1.4;
	text-transform: uppercase;
}
