.admin-container {
	background-color: #191919;
	min-height: 100vh;
	min-width: 100vw;
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	margin-left: calc(-50vw + 50%);
	font-family: "Montserrat", sans-serif;
}

.admin-container-inner {
	width: 100%;
	max-width: 1200px;
}

.admin-order {
	box-sizing: border-box;
	border: 1px solid #fff;
	padding: 1rem;
	margin-bottom: 3rem;
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.admin-order-container {
	display: flex;
}

.admin-column-container {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	width: 100%;
}

.admin-light-text {
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
}

.admin-medium-text {
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
}

.admin-quantity-text {
	color: #fff;
	font-size: 1rem;
	font-weight: 200;
	padding: 0 0.5rem;
}

.admin-textarea {
	padding: 0.5rem;
	flex: auto;
	min-height: 140px;
	border: 1px solid #fff;
	background-color: #252525;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 0.9rem;
}

.admin-textarea:active,
.admin-textarea:focus {
	outline: none;
	background-color: #323232;
}

.admin-row-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 1250px) {
	.admin-container-inner {
		padding: 0 1rem;
	}
}

@media (max-width: 940px) {
	.admin-column-container {
		margin-right: 1rem;
	}
	.admin-column-container:nth-child(3) {
		margin-right: 0;
	}
}

@media (max-width: 866px) {
	.admin-order {
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}
	.admin-column-container {
		margin-right: 0;
	}
}

@media (max-width: 340px) {
	.admin-container-inner {
		padding: 0;
	}
}
