* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}

button:focus {
	outline: none;
}

body {
	font-family: "KyivTypeSerif", serif;
	font-weight: 400;
	background-color: var(--color-white);
	height: 100%;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	margin: 0 auto;
	max-width: 1366px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

:root {
	--color-white: #fff;
	--color-gray: #6e6e6e;
	--color-darkGray: #393939;
	--color-almostBlack: #191919;
	--color-black: #000;

	--color-red: #ee0606;
	--color-selectedImageBorder: #201644;
	--color-paleRed: #4a3434;

	--color-almostTransparentBlack: rgba(0, 0, 0, 0.15);
	--color-shadow: rgba(0, 0, 0, 0.3);
	--color-halfTransparentBlack: rgba(0, 0, 0, 0.5);

	--color-footerLine: rgba(22, 22, 22, 0.95);
}
