.basket-container {
	max-width: 1140px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 6rem;
	padding-right: 1rem;
}

.basket-empty-text {
	font-size: 1.2rem;
	text-align: center;
	color: #000;
	margin-top: 2rem;
}

.basket-container-inner {
	gap: 2rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media (max-width: 920px) {
	.basket-container-inner {
		flex-direction: column-reverse;
		align-items: center;
		gap: 3rem;
	}
}
