.basket-container {
	max-width: 1200px;
	margin: 3rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.basket-empty-text {
	font-size: 1.2rem;
	text-align: center;
	color: #000000;
	padding: 0 2rem;
	margin: 0;
	font-weight: 200;
	line-height: 1.5;
}

.basket-container-inner {
	gap: 2rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media (max-width: 1250px) {
	.basket-container-inner {
		margin: 0 2rem;
	}
}

@media (max-width: 1200px) {
	.basket-empty-text {
		padding: 0 4rem;
	}
}

@media (max-width: 920px) {
	.basket-container-inner {
		flex-direction: column-reverse;
		align-items: center;
		gap: 3rem;
	}
}

@media (max-width: 750px) {
	.basket-container {
		margin: 2rem auto;
	}
	.basket-empty-text {
		font-size: 1.1rem;
		padding: 0 4rem;
	}
}

@media (max-width: 440px) {
	.basket-container {
		margin: 1rem auto;
	}
	.basket-container-inner {
		margin: 0 1rem;
	}
}
