.contactsContainer {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.contactsMedium {
	font-size: 14px;
	font-weight: 500;
	color: #000;
	line-height: 20px;
}

.contactsLight {
	font-size: 14px;
	font-weight: 300;
	color: #000;
	line-height: 20px;
}

.contactsMargin {
	margin-bottom: 1rem;
}

.contactsLink {
	font-size: 14px;
	color: #000;
	text-decoration: underline;
	font-weight: 300;
}
