.events-container {
	max-width: 1200px;
	margin: 3rem auto;
}

.events-text {
	font-size: 1.2rem;
	padding: 0 4rem;
	margin: 0;
	font-weight: 200;
	line-height: 1.5;
	color: #000000;
}

@media (max-width: 1024px) {
	.events-text {
		padding: 0 2.5rem;
	}
}

@media (max-width: 750px) {
	.events-container {
		margin: 2rem auto;
	}
	.events-text {
		font-size: 1.1rem;
		padding: 0 1.5rem;
	}
}

@media (max-width: 440px) {
	.events-container {
		margin: 1rem auto;
	}
	.events-text {
		font-size: 1rem;
		padding: 0 1rem;
	}
}
