.homeContainer {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.homeText {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #000;
}

.homeText:nth-child(3) {
	margin-bottom: 3rem;
}
