.partners-container {
	max-width: 1200px;
	margin: 3rem auto;
}

.partners-title {
	font-size: 1.2rem;
	padding: 0 4rem;
	margin: 0;
	font-weight: 200;
	line-height: 1.5;
	color: #000000;

	text-align: center;
}
