.shopContainer {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.shopLoadingContainer {
	display: flex;
	justify-content: center;
}

.shopMessageError {
	color: #ee0606;
	font-weight: 300;
	font-size: 1rem;
}

.shopGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(258px, max-content));
	gap: 36px;
	width: 100%;
}

@media (max-width: 500px) {
	.shopGrid {
		justify-content: center;
	}
}
