.shop-container {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
}

.shop-message-container {
	display: flex;
	margin: 4rem 0 0;
	justify-content: center;
}

.shop-message-error {
	color: #ee0606;
	font-weight: 300;
	font-size: 1.2rem;
}

.shop-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(258px, max-content));
	justify-content: center;
	gap: 36px;
	width: 100%;
}
