.basket-items-container {
	max-width: 500px;
	width: 100%;
	overflow: hidden;
}

.basket-items-info-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}

.basket-items-medium-text {
	font-size: 16px;
	color: #000;
	margin-top: 1rem;
	transition: opacity 0.3s ease;
	font-weight: 400;
}

.basket-items-regular-text {
	font-size: 1rem;
	color: #000;
	font-weight: 300;
}

@media (max-width: 920px) {
	.basket-items-container {
		max-width: 600px;
	}
}
