.shopContainer {
	max-width: 1140px;
	width: 100%;
	margin: 0 1rem 6rem;
	position: relative;
}

.shopMessageError {
	color: var(--color-red);
	font-weight: 300;
	font-size: 1rem;
}

.shopGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(258px, max-content));
	gap: 36px;
	width: 100%;
}

.shopImageWrapper {
	position: relative;
	width: 100%;
	max-width: 460px;
}

.shopProductImage {
	width: 100%;
	height: auto;
	display: block;
}

.productPin {
	position: absolute;
	cursor: pointer;
	z-index: 20;
	width: 18%;
	aspect-ratio: 1 / 1;
}

.productPinImage {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}

.productSidebar {
	position: fixed;
	top: 0;
	right: -600px;
	width: 500px;
	height: 100vh;
	background: var(--color-white);
	box-shadow: -2px 0 6px var(--color-almostTransparentBlack);
	padding: 20px;
	z-index: 999;
	transition: right 0.3s ease;
	overflow-y: auto;
	overflow-x: hidden;
}

.productSidebar.open {
	right: 0;
}

.sidebarCloseBtn {
	position: sticky;
	top: 0px;
	left: 0px;
	background: none;
	border: none;
	font-size: 2.3rem;
	line-height: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	color: var(--color-black);
	z-index: 2000;
}

.productSidebarContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
}

.productSidebarContent .productPhotoContainer {
	max-width: 100%;
}

.productSidebarContent .productInfoContainer {
	padding: 0;
}

@media (max-width: 600px) {
	.productSidebar {
		width: 100%;
		right: -100%;
	}
}
