.adminLinesTextContainer {
	display: flex;
	gap: 1rem;
}

.adminLinesTextExtraLightText {
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 200;
}

.adminLinesTextMediumText {
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 500;
}
