.adminLineLinkContainer {
	width: 100%;
	border-bottom: 1px solid var(--color-grayLight);
	padding: 6px 10px 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adminLineLinkArrowContainer {
	margin-top: 5px;
}

.adminLineLinkArrowLine {
	width: 9px;
	height: 1px;
	background-color: var(--color-black);
	transform: rotate(-45deg);
}

.adminLineLinkArrowLine:nth-child(2) {
	transform: rotate(45deg);
	margin-top: -7px;
}
