.adminDeliverySettingsContainer {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(192, 192, 192);
	border-radius: 3px;
}

.adminDeliverySettingsButtonContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
