.product-info-name {
	font-size: 2rem;
	color: #000000;
	margin: 0.5rem 0 2rem;
	text-align: center;
}

.product-info-description {
	font-size: 1.2rem;
	color: #000000;
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.product-info-price {
	font-size: 1.5rem;
	color: #000000;
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.product-info-buy-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	gap: 5rem;
}

.product-info-quantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.product-info-quantity label {
	font-size: 1rem;
	color: #000000;
	font-weight: 300;
}

.product-info-quantity input {
	width: 45px;
	padding: 0.4rem;
	font-size: 1.1rem;
	border: 1px solid #000000;
	background-color: rgb(255, 255, 255);
	margin: 0 0.5rem;
	align-items: center;
	text-align: center;
	font-family: "KyivTypeSerif", serif;
	font-weight: 300;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.product-info-quantity-symbol {
	font-size: 1.2rem;
	color: #000;
	padding: 1rem;
	cursor: pointer;
	font-weight: 300;
	transition: opacity 0.3s ease;
}

.product-info-quantity-symbol:hover {
	opacity: 0.7;
}

/* Скрываем стрелки для Chrome, Safari, Edge */
.product-info-quantity input::-webkit-outer-spin-button,
.product-info-quantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* Скрываем стрелки для Firefox */
.product-info-quantity input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.product-info-ingredients {
	font-size: 1rem;
	color: #3a3a3a;
	margin-bottom: 3rem;
	text-align: center;
	font-weight: 300;
}

.product-info-additional {
	font-size: 1rem;
	color: #3a3a3a;
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 1212px) {
	.product-info-name {
		font-size: 1.8rem;
	}
	.product-info-description {
		font-size: 1.2rem;
	}
	.product-info-price {
		font-size: 1.4rem;
		margin: 0 0 3rem;
	}
	.product-info-ingredients {
		font-size: 1rem;
	}
	.product-info-additional {
		font-size: 1rem;
	}
}

@media (max-width: 1100px) {
	.product-info-name {
		font-size: 1.6rem;
	}
	.product-info-description {
		font-size: 1.1rem;
		margin: 0 0 3rem;
	}
	.product-info-price {
		font-size: 1.3rem;
		margin: 0 0 2.8rem;
	}
	.product-info-ingredients {
		font-size: 1rem;
	}
	.product-info-additional {
		font-size: 1rem;
	}
}

@media (max-width: 990px) {
	.product-info-name {
		font-size: 1.5rem;
		margin: 0.5rem 0 1.8rem;
	}
	.product-info-description {
		font-size: 1rem;
	}
	.product-info-price {
		font-size: 1.2rem;
		margin: 0 0 2.9rem;
	}
	.product-info-buy-container {
		margin: 0 0 3rem;
		gap: 4rem;
	}
	.product-info-ingredients {
		font-size: 0.9rem;
		margin: 0 0 2.8rem;
	}
	.product-info-additional {
		font-size: 0.9rem;
		margin: 0 0 2rem;
	}
}

@media (max-width: 874px) {
	.product-info-name {
		font-size: 1.5rem;
		margin: 0.5rem 0 1.8rem;
	}
	.product-info-description {
		font-size: 1rem;
		margin: 0 0 2.4rem;
	}
	.product-info-price {
		font-size: 1.1rem;
		margin: 0 0 1rem;
	}
	.product-info-buy-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 2.4rem;
		gap: 1rem;
	}
	.product-info-ingredients {
		font-size: 0.8rem;
		margin: 0 0 2rem;
	}
	.product-info-additional {
		font-size: 0.8rem;
		margin: 0 0 2rem;
	}
}

@media (max-width: 700px) {
	.product-info-price {
		margin: 0 0 1.4rem;
	}
	.product-info-buy-container {
		margin: 0 0 2.2rem;
		gap: 1.4rem;
	}
}
