.thanksgivingContainer {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.thanksgivingTitle {
	font-size: 18px;
	font-weight: 400;
	color: var(--color-black);
	margin-bottom: 2rem;
	margin-top: 0;
}

.thanksgivingText {
	font-size: 14px;
	margin-bottom: 0.5rem;
	color: var(--color-black);
	font-weight: 300;
}
