.footer {
	width: 100%;
	background: var(--color-black);
	border-top: 8px solid var(--color-darkGray);
	color: var(--color-white);
}

.footerLine {
	height: 8px;
	background-color: var(--color-black);
}

.footerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem;
	text-align: center;
	color: var(--color-white);
	background: var(--color-footerLine) url("../../assets/images/floor.png")
		repeat center / auto;
	background-blend-mode: multiply;
}

.footerContainer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.footerContainer ul li a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 3px 1rem;
	color: var(--color-white);
	text-decoration: none;
	font-size: 12px;
	transition: opacity 0.3s ease;
}

.footerContainer ul li a:hover {
	opacity: 0.7;
}

.footerSocialContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
}

.footerSocialIcon {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.footerSocialIcon:hover {
	opacity: 0.7;
}
