.adminOrderLineTextContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8px;
}

.adminOrderLineRegularText {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-black);
}
