.productPhotoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 450px;
	width: 100%;
}

.productPhotoMain {
	width: clamp(320px, 50vw, 450px);
	aspect-ratio: 1 / 1;
	box-shadow: 2px 2px 4px var(--color-shadow);
	margin-bottom: 1rem;
}

.productPhotoThumbnailContainer {
	display: flex;
	flex-wrap: wrap;
	width: clamp(320px, 50vw, 450px);
	gap: clamp(8.7px, 1.25vw, 12.5px);
	justify-content: start;
}

.productPhotoThumbnails {
	width: clamp(57px, 9vw, 80px);
	aspect-ratio: 1 / 1;
	cursor: pointer;
	border: clamp(2px, 0.4vw, 3px) solid var(--color-white);
	transition: opacity 0.3s ease, border-color 0.2s ease;
}

.productPhotoThumbnails:hover {
	opacity: 0.85;
}

.productPhotoThumbnails.active {
	border: clamp(2px, 0.4vw, 3px) solid var(--color-selectedImageBorder);
}
