.shippingContainer {
	max-width: 1140px;
	width: 100%;
	margin-bottom: 6rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.shippingTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: var(--color-black);
}
